<!-- Micro.blog feeds -->
{{ with .OutputFormats.Get "RSS" }}
  <link rel="alternate" type="{{ .MediaType }}" href="{{ .Permalink }}" title="{{ $.Site.Title }}">
{{ end }}
{{ with .OutputFormats.Get "JSON" }}
  <link rel="alternate" type="{{ .MediaType }}" href="{{ .Permalink }}" title="{{ $.Site.Title }}">
{{ end }}

<!-- Micro.blog verification -->
<link rel="authorization_endpoint" href="https://micro.blog/indieauth/auth" />
<link rel="token_endpoint" href="https://micro.blog/indieauth/token" />
<link rel="micropub" href="https://micro.blog/micropub" />
<link rel="microsub" href="https://micro.blog/microsub" />

<!-- Webmention -->
{{ with $.Site.Params.webmention }}
  <link rel="webmention" href="{{ . }}" />
{{ end }}

<!-- Micro.blog plugins CSS -->
{{ range .Site.Params.plugins_css }}
  <link rel="stylesheet" href="{{ . }}">
{{ end }}

<!-- Micro.blog plugin HTML -->
{{ range .Site.Params.plugins_html }}
  {{ . | safeHTML }}
{{ end }}
