{{ define "main" }}
<div class="post-list">
  <h1 class="list-title">Replies</h1>
  {{ range .Pages }}
    <article class="post-item h-entry">
      <div class="post-meta">
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}" class="dt-published post-date">
          <a href="{{ .Permalink }}" class="u-url">{{ .Date.Format "January 2, 2006" }}</a>
        </time>
      </div>
      <div class="post-content e-content">
        {{ .Content }}
      </div>
    </article>
  {{ end }}
</div>
{{ end }}
